<h1>Hola de nuevo , !Bienvenido a la aplicación de gestión de productos desde la base de datos !🛍️</h1>

<h1>Lista de Productos</h1>
<article>
  <table role= "grid">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
    {{#each payload}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td><a href="#" role="button"> + </a></td>
    </tr>
    {{/each}}
</table>
<p>Pagina Actual: {{page}}</p>

<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}> < </a>

<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}> > </a>

</article>


